<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8" name="description"
              content="Chuyển văn bản thành tiếng nói Text To Speech và hội thoại thông minh, chăm sóc khách hàng tự động – Auto Call">
        <title>{% block title %} {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous ">
        <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
</head>
<style>
    .nav-login {
        padding-right: 100px;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    footer {
        margin-top: auto;
        background-color: #333;
    }

    footer a {
        text-decoration: none;
        color: #eee;
        list-style-type: none;
    }

    nav li {
        font-size: 20px;
    }

    footer ul {
        list-style-type: none;
    }

    label {
        color: #110e0e !important;
    }

    footer h3, p {
        color: #eee;
    }

    th, td {
        border-bottom: 1px solid #ddd;
    }

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <a>
                <img class="navbar-brand" href="#" height="70px"
                     src="https://cdn1.vieclam24h.vn/upload/files_cua_nguoi_dung/logo/2018/04/12/1523527195_Untitled.png"/>
            </a>
        </div>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
        <div class="mx-auto order-0">
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/text-to-speech">Text To Speech</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/speech-to-text">Speech To Text</a>
                </li>
                {% if request.user.customer %}
                    <li class="nav-item">
                        <a class="nav-link" href="/get-auth-token"> Auth Token</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cloud_integration:logout' %}">Đăng xuất</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cloud_integration:register' %}">Đăng kí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cloud_integration:login' %}">Đăng nhập</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<body>
<div id="content">{% block content %}
{% endblock %}</div>
</body>
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-6 info-contact-footer">
                    <div class="contact">
                        <p>CÔNG TY CỔ PHẦN SALEMALL</p>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Tầng 3, Số 247 Cầu Giấy, P.Dịch Vọng, Q.Cầu Giấy, TP.Hà Nội</p>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> P503, 20 Phan Đình Giót, P.2, Q. Tân Bình</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 089 898 6008 - <i class="fa fa-envelope-o" aria-hidden="true"></i> <a
                                href="mailto:fchat@salemall.vn">fchat@salemall.vn</a></p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-5 col-xs-12 time-working">
                    <ul class="phone-rp-ul" style="line-height: 2;">
                        <li><a href="/policies/dieu-khoan-su-dung" title="Điều khoản sử dụng">Điều khoản sử dụng</a></li>
                        <li><a class="text-grey" href="/chinh-sach-bao-mat" rel="nofollow">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-7 col-xs-12 footer-socialbox center-991">
                    <h3>Kết nối</h3>
                    <div class="social">
                        <ul>
                            <li class="facebook">
                                <a href="https://www.facebook.com/" target="_blank" rel="nofollow">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="youtube">
                                <a href="https://www.youtube.com/channel/UCjzpv6N7pKvw1oSOmgAsNig" target="_blank" rel="nofollow">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>

